@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

.background{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba (0, 0, 0, 0.5));
    background-color: black;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header{
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    position: fixed;
    padding-bottom: 10px;
    border-radius: 20px;
    z-index: 100;
}
.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 400;
    cursor: pointer;
}

.cabeçalho-link a{
    color: #fff;
}

.cabeçalho-link a:hover{
    color: #2ecc71;
    transition: 0.3s all;
}

.logo{
    height: 40px;
    width: 40px;
    background: transparent;
    border: azure solid 1.83px;
    color: #2ecc71;
    font-size: 20px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: 0.3s ease;
}

.logo:hover{
    color: #fff;
    border: transparent;
}

#primeiro_button{
    color: #2ecc71;
    background:#2cb465ed;
    border: solid 1.83px #fff;
    padding: 5px;
    border-radius: 15px;
    width: 140px;
    font-weight: 520;
    cursor: pointer;
}

button:hover{
    background-color: #2cb465f1;
    color: #fff;
    transition: 0.5s;
}

#primeiro_button:hover{
    background-color:#ffffffd6
}

.segundo{
    color: #2ecc71;
    background: transparent;
    border: solid 1.83px #fff;
    padding: 5px;
    border-radius: 15px;
    width: 145px;
    font-weight: 520;
    cursor: pointer;
}

.segundo a{
    color: #2cb464;
}

.segundo a:hover{
    color: #fcfcfc;
}

#terceiro_button{
    color:#2ecc71;
    background: transparent;
    border: solid 1.83px #fff;
    padding: 6px;
    border-radius: 16px;
    width: 170px;
    font-weight: 530;
    font-size: 13.5px;
}

#terceiro_button a{
    color: #2cb464;
}

#terceiro_button:hover{
    background-color:#a5f3c6db;
}

#primeira_foto{
    width: 30%;
    margin-left: 23%;
    border-radius: 10%;
}

#primeira_foto:hover{
    transition: 0.3s ease;
    box-shadow: 0px 0px 60px #57e994a9;
    transform: scale(1.04);
}

.texto{
    padding: 160px 0 0 130px;
    display:flex;
}

.text h3{
    color: #fff;
}

.text h1{
    color: #fff;
    margin-top: 10px;
}

.text span{
    color:#2ecc71;
}

.text span:hover{
    transition: 0.3s ease;
    text-shadow: 0px 0px 5px #57e994a9;
    transform: scale(1.5);
}

.text p{
    color:#fff;
    font-weight: 500;
    margin-top: 10px;
}

.redes_sociais a{
    color:#2ecc71;
    padding: 10px;
    font-size: 30px;
}

.redes_sociais i:hover{
    color: #fff;
    transition: 0.3s all;
    transform: scale(1.08);
}

.redes_sociais i:last-child{
    width: 30px;
}

.sobre_mim{
    background-color: #191919;
    width: 100%;
    padding: 110px;
}

#segunda_foto{
    width: 430px;
    border-radius: 10%;
    margin-right: 200px;
}

#segunda_foto:hover{
    transition: 0.3s ease;
    box-shadow: 0px 0px 80px #57e994a9;
    transform: scale(1.04);
}

.text_sobre{
    width: 550px;
}

.main_sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    margin: 0 auto;
    height: 80vh;
}

.text_sobre h2{
    color:#fff;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.text_sobre h5{
    color:#fcfcfc;
    letter-spacing: 1px;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.text_sobre span, footer span{
    color: #2cb464;
}

.text_sobre span:hover{
    transition: 0.3s ease;
    text-shadow: 0px 0px 5px #57e994a9;
}

.text_sobre p{
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18.5px;
    margin-bottom: 45px;
}

.main_projetos{
    background-color:black;
    width: 100%;
    padding: 35px 0px;
}

.title h2{
    color: #c5c4c4;    
    font-size: 73px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    margin-bottom: 50px;
}

.caixas{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
  }

.card{
    background-color: #101010;
    height: 590px;
    width: 350px;
    border: 20px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #2cb464;
}

.card i:hover, .card1 i:hover{
    transition: 0.3s ease;
    text-shadow: 0px 0px 5px #57e994a9;
    transform: scale(1.1);
}

.card h5, .card1 h5, .card2 h5{
    color: #fcfcfc;
    font-size: 23px;
    margin-bottom: 15px;
}

.card p{
    color:rgba(204, 255, 230, 0.8);
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 25px;
    text-align: justify;
    margin: 18px;
    font-weight: 400;
}

.add{
    background: transparent;
    border: transparent;
}

.add:hover{
    background: transparent;
    color: #191919;
    border-bottom: 3px solid #fcfcfc;
    transition: 0.3s ease;
}

.main_estudo{
    background-color:#191919;
    width: 100%;
    padding: 80px 0px;
}

.title_table h2{
    color: #c5c4c4;
    font-size: 73px;
    width: 1130px;
    margin: 30px auto;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 50px;
}

.title_table h2:hover, .title h2:hover, .text_sobre h2{
    text-shadow: 0px 0px 8px #2cb464;
    transition: 0.3s ease;
}

.card2{
    background-color: #101010;
    height: 500px;
    width: 1001px;
    border: 20px;
    border-radius: 15px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

table{
    width: 1000px;
    height: 500px;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden; 
}

table, th, td {
    border: 1.9px solid #000000;
}

table thead{
    background-color: #289f5aef;
}

table thead:hover{
    background-color: #36c66b;
}

tbody{
    background-color:#a5f3c6c2;
}

th{
    font-weight: 600;
    padding: 10px;
    font-size: 17px;
    color: #101010;
}

td{
    font-weight: 410;
    padding: 10px;
    font-size: 17px;
}

td:hover{
    background-color: #2cb464;
}

.main_conquistas{
    background-color:black;
    width: 100%;
    padding: 18px 0px;
}

.title_conquistas h2{
    color: #c5c4c4;
    font-size: 73px;
    width: 1130px;
    margin: 40px auto;
    text-align: center;
    margin-bottom: 50px;
}

.title_conquistas h2:hover{
    text-shadow: 0px 0px 8px #2cb464;
    border-bottom: 3px solid #2cb464;
    transition: 0.3s ease;
}

.caixas1, .caixas2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}

.card1{
    background-color: #101010;
    height: 460px;
    width: 350px;
    border: 20px;
    border-radius: 20px;
    margin: 23px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card1 i{
    font-size: 45px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #2cb464;
}

.card1 p{
    color:rgba(204, 255, 230, 0.8);
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 25px;
    text-align: justify;
    margin: 20px;
    font-weight: 400;
}

.conquistas span, #brilho{
    text-shadow: 0px 0px 8px #2cb464;
    color: #3ac272;
}

footer{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h6{
    font-size: 40px;
    color: #ededede6;
    text-shadow: 0px 0px 8px #2cb464;
    transition: 0.3s ease;
}

footer p{
    font-size: 20px;
    color: #fcfcfc;
    text-align: center;
    line-height: 35px;
    padding-bottom: 50px;
}

.tecnologias a{
    cursor: none;
}


